<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.guoyukun.android.simple.contacts"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="15" />
    <!-- 读取联系人权限 -->
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <!-- 拨打电话权限 -->
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <!-- 修改联系人权限 -->
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".ContactsListActivity"
            android:label="@string/title_activity_contacts_list" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ViewContactActivity"
            android:label="@string/title_activity_view_contact" >
			<intent-filter>
            	<action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="vnd.android.cursor.item/person" android:host="contacts" />
                <data android:mimeType="vnd.android.cursor.item/contact" android:host="com.android.contacts" />
                <data android:mimeType="vnd.android.cursor.item/raw_contact" android:host="com.android.contacts" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CallLogsActivity"
            android:label="@string/title_activity_call_logs" >
            <intent-filter>
                 <action android:name="android.intent.action.MAIN" />
 				<category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>